html {
    background-color: #540B0E;
}

#heading {
    display: flex;
    top: 25px;
    font-size: 50px;
    color: #FAEDCD;
    font-family: 'Bungee Shade', sans-serif;
    justify-content: center;
}

